.button {
  color: #fff;
  text-align: center;

  /* Button */
  font-family: "Jim Nightshade";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h1 {
  font-family: "Kelly Slab";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p1 {
  font-family: "Kelly Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
