@import "tailwindcss";
@theme {
  --color-lightbrown: #937460;
  --color-darkbrown: #371e16;
  --color-activity: #ffe97b;
  --color-newspaper: #feebc6;
  --color-black: #2f3028;
  --color-blue: #0072ce;
}

.logo-small {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: right;
  font-family: "Kenia", cursive;
}
